body {
  font-family: times;
}

title {
  font-weight:700;
  font-size: 1em;

}

h1 {
  font-weight:700;
  font-size: 1em;

}

h2 {
  font-weight:700;
  font-size: 1em;

}

h3 {
  font-weight:700;
  font-size: 1em;

}

#anchor {
  font-weight:700;
  font-size: 1em;

}
